In [2]:
from dataclasses import dataclass
from dataclasses import asdict
from dataclasses import astuple

In [4]:
@dataclass
class Address:
    lat: float
    lng: float
    city: str
    country: str

@dataclass
class Person:
    name: str
    addr: Address
    age:int

In [5]:
address = Address(23.5, 24.6, 'Dhaka', 'Bangladesh')

In [6]:
address

Address(lat=23.5, lng=24.6, city='Dhaka', country='Bangladesh')

In [7]:
p = Person('Mahin', address, 23)

In [8]:
p

Person(name='Mahin', addr=Address(lat=23.5, lng=24.6, city='Dhaka', country='Bangladesh'), age=23)

In [9]:
p.addr.city

'Dhaka'

In [10]:
# change representation to dictionary
asdict(p)

{'name': 'Mahin',
 'addr': {'lat': 23.5, 'lng': 24.6, 'city': 'Dhaka', 'country': 'Bangladesh'},
 'age': 23}

In [11]:
astuple(p)

('Mahin', (23.5, 24.6, 'Dhaka', 'Bangladesh'), 23)

In [12]:
from json import dumps

In [13]:
dumps(asdict(p))

'{"name": "Mahin", "addr": {"lat": 23.5, "lng": 24.6, "city": "Dhaka", "country": "Bangladesh"}, "age": 23}'