In [20]:
class Person:

    # initialize
    def __init__(self, name, age, city):
        self.name = name
        self.age = age
        self.city = city
    
    # representation of Person class object
    def __repr__(self):
        return f"Person(name={self.name}, age={self.age}, city={self.city})"
    
    # equality operator check
    def __eq__(self, other):
        return (self.name, self.age, self.city) == (other.name, other.age, other.city)

In [21]:
p = Person("Mahin", 23, "Jamalpur")

In [22]:
p

Person(name=Mahin, age=23, city=Jamalpur)

In [23]:
p.name, p.age, p.city

('Mahin', 23, 'Jamalpur')

In [24]:
p1 = Person("Mahin", 23, "Jamalpur")
p2 = Person("Mahin", 23, "Jamalpur")

p1 == p2

True

In [25]:
# using dataclasses module

In [26]:
from dataclasses import dataclass # dataclass is a decorator

In [27]:
# work same as previous class

@dataclass
class Person:
    name: str
    age: int
    city: str

In [28]:
p = Person('Nahid', 23, "Jamalpur")

In [29]:
p.name, p.age, p.city

('Nahid', 23, 'Jamalpur')

In [30]:
p

Person(name='Nahid', age=23, city='Jamalpur')

In [31]:
p1 = Person('Nahid', 23, "Jamalpur")
p2 = Person('Nahid', 23, "Jamalpur")

p1 == p2

True