In [1]:
from dataclasses import dataclass, field

In [2]:
@dataclass
class Person:
    name: str
    city: str
    age: int

@dataclass
class Student(Person):
    grade: int
    subject: list

In [4]:
s = Student('Nahid', 'Jamalpur', 23, 3.4, ['Database', 'Networking'])

In [5]:
s

Student(name='Nahid', city='Jamalpur', age=23, grade=3.4, subject=['Database', 'Networking'])

In [8]:
@dataclass
class A:
    x: int = 20
    y: int = 30

@dataclass
class B(A):
    z: int = 50
    x: int = 100

In [9]:
b = B()
b

B(x=100, y=30, z=50)